<div class="container px-5 my-5">
    <form method="post" asp-action="ChangePasswordPost" id="contactForm" data-sb-form-api-token="API_TOKEN">

        <div class="form-floating mb-3">
            <input class="form-control" id="oldPass" name="oldPass" type="text" placeholder="oldPass" data-sb-validations="required" />
            <label for="oldPass">old Pass</label>
            <div class="invalid-feedback" data-sb-feedback="old Pass:required">new password is required.</div>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" id="newPass" name="newPass" type="text" placeholder="newPass" data-sb-validations="required" />
            <label for="newPass">new password</label>
            <div class="invalid-feedback" data-sb-feedback="new password:required">new password is required.</div>
        </div>

       

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">LogIn</button>
        </div>

    </form>
    @{
        if (ViewBag.Success is not null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }

        else
        {
            <div class="alert alert-success">@ViewBag.Faild</div>
        }

    }

    
    
</div>