<div class="container px-5 my-5">
    <form method="post" asp-action="LogInUser" id="contactForm" data-sb-form-api-token="API_TOKEN">

        <div class="form-floating mb-3">
            <input class="form-control" id="cardNumber" name="cardNumber" type="text" placeholder="cardNumber" data-sb-validations="required" />
            <label for="userName">CardNumber</label>
            <div class="invalid-feedback" data-sb-feedback="userName:required">Cardnumber is required.</div>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" id="password" name="pass" type="text" placeholder="Password" data-sb-validations="required" />
            <label for="password">Password</label>
            <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" id="userName" name="userName" type="text" placeholder="userName" data-sb-validations="required" />
            <label for="userName">UserName</label>
            <div class="invalid-feedback" data-sb-feedback="password:required">UserName is required.</div>
        </div>

        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">LogIn</button>
        </div>

    </form>

    @if (ViewBag.CardNumber is not null)
    {
        <div class="alert alert-danger">@ViewBag.CardNumber</div>
    }
    @if (ViewBag.ValidUser is not null)
    {
        <div class="alert alert-danger">@ViewBag.ValidUser</div>
    }
    @if (ViewBag.ActiveStatus is not null)
    {
        <div class="alert alert-danger">@ViewBag.ActiveStatus</div>
    }
    
</div>
@if (ViewBag.Error != null)
{
    <p style="color: red">@ViewBag.Error</p>
}

<div class="container px-5 my-5">
    <form form method="post" asp-action="LogOut" id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="d-grid">
            <button class="btn btn-danger btn-lg" id="submitButton" type="submit">LogOut</button>
        </div>
    </form>


</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>