<div class="container my-5">
    <h1>Welcome to Home Page</h1>
    <div class="list-group">
        <a asp-action="Transfer" asp-controller="Card" class="list-group-item list-group-item-action">1.Transfer</a>

        <a asp-action="ShowTransactions" asp-controller="Card" class="list-group-item list-group-item-action">2.Show All Transactions</a>

        <a asp-action="ShowBalance" asp-controller="Card" class="list-group-item list-group-item-action">3.Show Balance</a>

        <a asp-action="ChangePassword" asp-controller="Card" class="list-group-item list-group-item-action">4.Change Card Password</a>
    </div>
</div>